extends ./layout/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Nosotros" class="img-fluid")
            .col-md-7 
                h1=pagina

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolorum iusto! Eaque impedit, repellat accusantium magni quisquam reiciendis eos accusamus magnam consequuntur quam suscipit sed veritatis temporibus explicabo quia velit!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ullam atque voluptas amet corporis debitis magni ut nihil. Recusandae provident fugiat impedit aspernatur? Dolorum eum eius necessitatibus molestiae est nemo architecto earum explicabo a ea, rem facere praesentium excepturi vel.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem reprehenderit sunt esse ducimus itaque quisquam earum distinctio quo rem fugiat impedit eius corrupti, eos fuga velit in unde eaque voluptatem, nostrum dolore enim? Provident error adipisci vitae impedit cupiditate culpa.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid")
                    h1.mb-2 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic laudantium amet sint ullam quia doloribus?

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid")
                    h1.mb-2 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic laudantium amet sint ullam quia doloribus?
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid")
                    h1.mb-2 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic laudantium amet sint ullam quia doloribus?