doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombreSitio} | #{pagina}
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body(class= clase)
    
    //Incluendo el header a la navegacion maestra
    include header

    block slider
    //Donde se renderizara el contenido TODO
    block contenido

    //Incluyendo el footer
    include footer